aniso8601==9.0.1
astroid==2.9.3
async-generator==1.10
attrs==21.4.0
autopep8==1.6.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
cryptography==36.0.1
Flask==2.0.3
Flask-Cors==3.0.10
flask-restx==0.5.1
gunicorn==20.1.0
h11==0.13.0
idna==3.3
imgkit==1.2.2
isort==5.10.1
itsdangerous==2.1.0
Jinja2==3.0.3
jsmin==3.0.1
jsonschema==4.4.0
lazy-object-proxy==1.7.1
MarkupSafe==2.1.0
mccabe==0.6.1
mnemonic==0.20
numpy==1.22.1
outcome==1.1.0
pandas==1.4.0
Pillow==9.0.0
platformdirs==2.4.1
pycodestyle==2.8.0
pycparser==2.21
pylint==2.12.2
pyOpenSSL==22.0.0
pyrsistent==0.18.1
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2021.3
requests==2.27.1
selenium==4.1.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
toml==0.10.2
trio==0.19.0
trio-websocket==0.9.2
urllib3==1.26.8
Werkzeug==2.0.3
wrapt==1.13.3
wsproto==1.0.0
